.container-painel{
    margin-left: 20%;
    padding: 1em;
}
.container-controle{
    margin-left: 20%;
    padding: 1em;
}
.entrada{
    width: 40px;
    text-align: center;
    background-color: #C5AFA4;
    caret-color:#F702d4;
}
.saida{
    width: 60px;
    font-size: 120%;
    text-align: center;
    /* background-color: #C5AFA4; */
    color: red;
}
.label{
    width: 20px;
    color: #A9A587;
}
#lb-operacao{
    margin: 0px;
}
#lb-resultado{
    margin: 0px;
}
.botao{
    width: 25px;
    padding-right: 0.4em;
    margin: 8px;
    cursor: pointer;
    background-color: #A9A587;
    border: #30292F;
}
#limpa{
    width: 150px;
    margin: 12px;
}
#titulo{
    margin-left: 20%;
    color: #587291;
}
body{
    background-color: #30292F;
}
